@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

        :root {
            --hd-logo-height: 100px;
            --bd-rd: 8px;
            --rw-hgt: 36px;
            --dt-cnt-wd: 48px;
            --lx-white: #fff;
            --lx-dark-blue: #00326e;
            --lx-orange: #f24305;
            --lx-light-blue: #0561f2;
            --lx-light-grey: #eee;
            --lx-dark-grey: #505050;
            --color-border: rgba(0,0,0,0.2);
            --color-border-t: rgba(0,0,0,0);
            --color-header-text: #fff;
            --color-title: #202040;
            --color-table-head-bg: #d5d5d5;
            --color-table-row-bg: #f5f5f5;
            --color-table-row-end-bg: #b9b9b9;
            --color-table-head-data-text: #000;
            --color-table-row-data-bg: #808080;
            --color-table-row-data-text: #fff;
            --color-table-row-end-data-text: #fff;
            --color-dt-low: #090909;
            --color-dt-mid: #808080;
            --color-dt-high: #fff;
            --color-dt-title: #ff0;
            --color-dt-end: var(--lx-light-blue);
            --color-dt-high-border: #090909;
            --color-footer-text: #202040;
             /* Variables de color para los bordes de los chips */
            --chip-salud: #4caf50;  /* rgb(0.298, 0.686, 0.314) */
            --chip-bio: #808000;  /* rgb(0.502, 0.502, 0) */
            --chip-economia:  #ffd700;  /* rgb(1, 0.843, 0) */
            --chip-admin: #607d8b;       /* rgb(0.376, 0.490, 0.545) */
            --chip-ingenieria: #003366;  /* rgb(0, 0.2, 0.4) */
            --chip-ti: #00bfff;          /* rgb(0, 0.749, 1) */
            --chip-sociales: #e2715b;     /* rgb(0.886, 0.447, 0.357) */
            --chip-humanidades: #800020;  /* rgb(0.502, 0, 0.125) */
            --chip-lenguas: #ffa500;      /* rgb(1, 0.647, 0) */
            --chip-artes: #800080;        /* rgb(0.502, 0, 0.502) */
            --chip-creativos: #ff00ff;    /* rgb(1, 0, 1) */
            --chip-ambiente: #a3522d;     /* rgb(0.627, 0.322, 0.176) */
            --chip-text-color: #808080;   
            /*Colores matriz*/
            --matriz-bajo:#EB8080;
            --matriz-medio:#FFEB7C;
            --matriz-alto:#B0D689;
        }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            font-family: 'Poppins', 'Segoe UI', Arial, sans-serif;
        }
        body {
            background: var(--lx-light-grey);
            min-height: 100vh;
            margin: 0;
            font-family: 'Poppins', 'Segoe UI', Arial, sans-serif;
        }
        button{
            margin: 0;
            padding: 0;
        }
        .main {
            width: 1200px;
            
            margin: 0 auto;
            background: var(--lx-white);
            border: 1px solid var(--color-border);
            display: flex;
            flex-direction: column;
        }
        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: fit-content;
            border-bottom: 1px solid var(--color-border);
            padding: 20px 16px 20px 16px;
            gap: 16px;
        }
        .hd-logo-inst {
            
            height: var(--hd-logo-height);
            display: flex;
            align-items: center;
            justify-content: center;
           
        }
        .hd-logo-inst img {
            
            height: var(--hd-logo-height);
            object-fit: cover;
        }
        .hd-datos-alumno {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: fit-content;
            height: fit-content;
            gap: 0;
            margin-top: 6px;
            
        }
        .hd-datos-alumno .al-dt-nombre,
        .hd-datos-alumno .al-dt-colegio,
        .hd-datos-alumno .al-dt-grupo,
        .hd-datos-alumno .al-dt-fecha {
            display: flex;
            align-items: center;
            color: var(--color-title);
            
            font-weight: 500;
        }
        .hd-datos-alumno .al-dt-nombre { font-size: 1.25rem; font-weight: 700; }
        .hd-datos-alumno .al-dt-colegio { font-size: 1rem; }
        .hd-datos-alumno .al-dt-grupo,
        .hd-datos-alumno .al-dt-fecha { font-size: 0.875rem; }

        .hd-logo-lexium {
            margin-left: auto;
            height: var(--hd-logo-height);
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: space-between; 
        }
        .hd-logo-lexium .lexium-logo {
            width: 125px;
            height: 30px;
           
            background: none;
        }
        .hd-logo-lexium button{
            display: flex; 
            align-items: center; 
            gap: 8px; 
            background: var(--lx-dark-blue); 
            color: #fff; 
            border: none; 
            border-radius: 4px; 
            padding: 8px 16px; 
            cursor: pointer; 
            font-family: inherit; 
            font-size: .8rem; 
            transition: background 0.2s;
        }
        .hd-logo-lexium button:hover {
            background: var(--lx-orange);
            color: #fff;
        }
        .hd-logo-lexium button i {
            color: #fff;
        }
        .al-dt-grupo{
            display: flex;
            flex-direction: row;
            gap: 8px;
        }
        .dt-caps {
            background: var( --color-table-head-bg);
            color: var(--color-title);
            padding: 4px 8px;
            border-radius: 4px;
            font-size: 0.75rem;
            font-weight: 500;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .section {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 0;
        }
        .ideas-row-container {
            margin: 16px;
            flex: 1;
            display: flex;
            flex-direction: row;
            gap: 10px;
           
        }
        .rep-col {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: calc(var(--rw-hgt) - 3px);
        }
        .report-body {
            background: none;
            display: flex;
            flex-direction: column;
            gap: 0;
        }
        .report-header {
            background: var(--lx-dark-blue);
            color: var(--color-header-text);
            display: flex;
            flex-direction: column;
            border-radius: var(--bd-rd) var(--bd-rd) 0 0;
            overflow: hidden;
        }
        .report-h-top {
            width: 100%;
            
            padding: 10px 8px 10px 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            
            
            
        }
        
        .r-h-logo {
            
            
            display: flex;
            align-items: center;
            justify-content: left;
            padding-left: 8px;
        }
        .r-h-logo img {
            
            height: 30px;
            
        }
        .r-h-info {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0;
        }
        .r-h-title {
            
            font-size: 1rem;
            font-weight: 500;
            color: var(--color-header-text);
            
        }
        .r-h-date {
            font-size: 1rem;
            color: var(--color-header-text);
        }
        .report-h-btm {
            background: var(--lx-white);
            
            border-left: 1px solid var(--color-border);
            border-right: 1px solid var(--color-border);
            border-bottom: 1px solid var(--color-border);
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: calc(var(--rw-hgt) + 2px);
        }
        .r-h-acotaciones {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 32px;
            padding: 2px 8px;
            
        }
        .r-h-nota-t, .r-h-nota {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
        }
        .r-h-nt-txt {
            font-size: 0.875rem;
            color: #000;
        }
        .nt-border{
            border: none;
        }
        .r-h-nt-icon .nt-sq {
            width: 25px;
            height: 25px;
            border-radius: 4px;
        }

        /* Estos son los colores para la columna del puntaje obtenido: Negro (bajo), Gris (medio), Blanco (alto), Amarillo (Fila del titulo del bloque), Azul (Fila del fin del reporte) */
        .dat-low{
            background-color: var(--color-dt-low);
            color: var(--lx-white);
        }
        .dat-mid{
            background-color: var(--color-dt-mid);
            color: var(--lx-white);
        }
        .dat-high{
            background-color: var(--color-dt-high);
            border: 1px solid var(--color-dt-high-border);
        }
        .dat-title{
            background-color: var(--color-dt-title);
            
        }
        .dat-end{
            background-color: var(--color-dt-end);
            color: var(--lx-white);
        }
        /* Aqui terminan los colores del puntaje obtenido*/

        .r-h-notas {
            display: flex;
            flex-direction: row;
            gap: 10px;
            flex: 1;
        }
        
        .report-content {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .table-body {
            display: flex;
            flex-direction: column;
            gap: 0;
        }
        .tb-head   {
            display: flex;
            flex-direction: row;
            align-items: center;
            
            font-size: 1rem;
            
        }
        .tb-head {
            font-weight: 500;
            
            background: var(--color-table-head-bg);
            border: 1px solid var(--color-border);
        }
        .tb-row {
            display: flex;
            flex-direction: row;
            
            border-bottom: 1px solid var(--color-border);
            
            overflow: hidden;
        }
        .tb-row:nth-of-type(odd) {
            background: var(--row-a-bg);
        }
        .tb-row:nth-of-type(even) {
            background: var(--row-b-bg);
        }
        .tb-row:last-child {
            border: none !important;
        }
        .tb-row-grid {
            display: grid;
            grid-template-columns: .6fr .4fr !important;
            width: 100%;
            height: var(--rw-hgt);
            background: none !important;
            border: none !important;
        }
        .b-icon-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 100%;
        }
        .b-icon-item{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: .55rem;
            font-weight: 600;
        }
        .b-icon-item img{
            height: 22px;
        }
        .tb-row .tb-col-a{
            gap: 12px;
            
        }
        .tb-row-end {
            font-weight: 500;
            background: var(--color-table-row-end-bg);
            border-radius: 0 0 var(--bd-rd) var(--bd-rd);
            border-bottom: 1px solid var(--color-border-t);
            border-left: 1px solid var(--color-border-t);
            border-right: 1px solid var(--color-border-t);
            overflow: hidden;
        }
        .tb-reg-row-end{
            overflow: hidden!important;
            border-radius: 0 0 var(--bd-rd) var(--bd-rd);
        }
        .bd-top{
            border-top: 1px solid rgba(0,0,0,0.2) ;
        }
        .tb-col-a {
            font-size: .75rem;
            font-weight: 500;
            flex: 1;
            display: flex;
            align-items: center;
            padding-left: 8px;
            gap: 12px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .tb-col-b {
            
            
            
            border-left: 1px solid var(--color-border);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .tb-data-container {
            width: var(--dt-cnt-wd);
            height: 28px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
        }
        .tb-bullet{
            font-size:.6rem; 
            margin-right:8px;
        }
        .dat-title{
            border-bottom: 1px solid var(--color-border-t);
        }

        .footer {
            height: 50px;
            border-top: 1px solid var(--color-border);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .footer-text {
            color: var(--color-footer-text);
            font-size: 1rem;
        }
        /* ESTILOS ACORDEON */
        .accordion {
            border: 1px solid var(--color-border);
            border-radius:var(--bd-rd);
            background: #f7f7f7;
            padding: 0;
            overflow: hidden;
            user-select: none;
        }
        .accordion-item {
            
        }
        .accordion-header{
            width: 100%;
            text-align: left;
            background: none;
            border-top: none;
            
            border-bottom: 1px solid var( --color-border);
            outline: none;
            font-family: 'Poppins', 'Segoe UI', Arial, sans-serif;
            
            display: flex;
            align-items: center;
            
            cursor: pointer;
            
            transition: background 0.2s;
            
        }
        .accordion-header{
            background-color: var(--lx-dark-blue);
            color: var(--lx-white);
            
            border-left: none;
            border-right: none;
            padding-left: 8px;
            font-size: 1rem;
        }
        .accordion-header:hover {
            background-color: var(--lx-light-blue);
        }
        .accordion-child-header2{
            font-weight: 500;
            font-size: .5rem;
            background-color: var(--atag-a);
            height: 30px;
            justify-content: space-between;
            border: none;
        }
        .accordion-child-header:hover {
            
        }
        .accordion-header .fa,
        .accordion-child-header .fa {
            margin-left: 0;
            transition: transform 0.2s;
        }
        .accordion-header[aria-expanded="true"] .fa,
        .accordion-child-header[aria-expanded="true"] .fa {
            transform: rotate(180deg);
        }
        .accordion-body {
            
            display: none;
            
        }
        .accordion-body.open {
            display: block;
        }
        .accordion-child {
            
            background-color: var(--color-table-row-bg) ;
            
        }
        .accordion-child-body {
            
            display: none;
            
        }
        .accordion-child-body.open {
            display: block;
        }
        .accordion-body p, 
        .accordion-child-content p{
            padding: 0;
            margin: 0;
        }

        /*ACORDEON OCULTA EL HEADER DE LA TABLA  HABILIDADES INTELECTUALES DE ORIENTACION VOCACIONAL*/
        
.ct-hidden { display: none !important; }
.ct-visible-grid { display: grid !important; }


                    /*ESTILOS REPORTE VOCACIONAL*/


                    /*REPORTE DESCRIPCIÓN INICIAL*/
        .report-header-des{
            display: flex;
            flex-direction: column;
            overflow: hidden;
            padding: 16px 24px;
            border-bottom: 1px solid var(--color-border);
            color: var(--lx-dark-grey);
        }

        .report-header-des p , .report-header-des h2{
            margin: 0;
            padding: 0;
        }


                    /*ESTILOS REPORTE ORIENTACION VOCACIONAL*/
        .tb-content{
            
        }
        .tb-row-head, .tb-row-grid  {
            display: grid;
            grid-template-columns: .3fr 1fr;
            width: 100%;
            height: var(--rw-hgt);
            background-color: #f5f5f5; /* rgb(0.9615, 0.9615, 0.9615) */
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            
            
        }

        .tb-col-c {
            border-right: 1px solid rgba(0, 0, 0, 0.2);
            height: var(--rw-hgt);
        }

        .tb-col-d {
            display: grid;
            grid-template-columns:  4fr 2fr 4fr;
            width: 100%;
            height: var(--rw-hgt);
        }

        .tb-bar-col {
            display: flex;
            align-items: center;
            justify-content: center;
            height: var(--rw-hgt);
            border-right: 1px solid rgba(0, 0, 0, 0.2);
            
        }

        .tb-bar-col:last-child {
            border-right: none;
        }

        /* Anchos específicos según el JSON */
        


        .dt {
            color: #090909; /* rgb(0.0336, 0.0336, 0.0336) */
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
        }
        

        /* Columna izquierda */
        .tb-col-e {
            
            height: 100%;
            
            display: flex;
            align-items: center;
            justify-content: flex-end; /* texto alineado a la derecha como en el JSON */
            border-right: 1px solid rgba(0, 0, 0, 0.2);
            box-sizing: border-box;
        }

        .col-title {
            font-family: sans-serif;
            font-size: 14px;
            color: #000;
            padding-right: 10px;
        }

        /* Columna derecha */
        .tb-col-f {
            flex: 1;
            height: 100%;
            display: flex;
            align-items: center;
            
        }

        /* Grilla horizontal interna */
        .tb-hi-grid {
        position: relative; 
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        width: 100%;
        height: 100%;
        overflow: hidden;
        }
        
        /* Cada celda de la grilla */
        .hi-g-cell {
            border-right: 1px solid rgba(0, 0, 0, 0.2);
           
        }

        .hi-g-cell:last-child {
            border-right: none !;
        }
        /* Barra azul */
        .hi-bar {
        position: absolute;
        left: 0;
        top: 4px;
        height: 80%;
        width: 0; /* empieza en 0 */
        background-color: #007bffcb;
        border-radius: 0 4px 4px 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transition: width 1.2s ease; /*ESTE VALOR ACTIVA LA ANIMACION DE CRECIMIENTO DE LA BARRA*/
        overflow: visible;
        }

        /* Texto dentro de la barra */
        .hi-bar-text {
        font-family: 'Poppins', 'Segoe UI', Arial, sans-serif;
        font-size: 13px;
        font-weight: bold;
        padding-right: 6px;
        color: white;
        transition: color 0.3s ease, transform 0.3s ease;
        white-space: nowrap;
        }

        /* Texto fuera cuando el valor < 10 */
        .hi-bar.low-value .hi-bar-text {
        position: absolute;
        right: -30px;
        color: gray;
        }
        /*INCLINACION VOCACIONAL*/
        
        .tb-row-iv {
        display: flex;
        
        height: 135px;
        background-color: #f5f5f5; /* r:0.961 */
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        
        }

        /* Columnas */
        .tb-iv-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        
        padding: 10px;
        }

        .tb-iv-col:last-child {
        border-right: none;
        }

        /* Texto principal */
        .ea-name {
        
        font-size: 16px;
        font-weight: 500;
        color: #000;
        margin-bottom: 8px;
        }

        /* Descripción */
        .ea-desc {
        
        font-size: 14px;
        color: #5b5b5b; /* r:0.355 */
        }


        .tb-row-head-iv {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 36px;
        background-color: var(--color-table-head-bg); /* rgb(0.8365, 0.8365, 0.8365) */
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        
        }

        /* Columnas iguales */
        .tb-iv-col-b {
        
        
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        
        }

        .tb-iv-col-b:last-child {
        border-right: none;
        }

        /* Texto centrado dentro de cada columna */
        .tb-title-head {
        
        font-size: 14px;
        font-weight: 500;
        color: #000;
        line-height: 21px;
        text-align: center;
        }

        /* Cada columna */
        .tb-iv-col {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px; /* itemSpacing */
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        
        }

        .tb-iv-col:last-child {
        border-right: none;
        }

        /* Texto dentro de cada opción */
        .tb-opt-cont{
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
        .tb-opt {
        width: 100px;
       
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        color: #000;
        text-align: center;
        width: auto;
        white-space: ;
        }
        
        /*MATRIZ ORIENTACION VOCACIONAL*/
        .ap-alta{
            background-color: var(--matriz-alto)!important;
        }
        .ap-media{
            background-color: var(--matriz-medio)!important;
        }
        .ap-baja{
            background-color: var(--matriz-bajo)!important;
        }
        .tb-row-mat-h {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            background: #d5d5d5;
            border-bottom: 1px solid rgba(0,0,0,0.2);
            border-left: 1px solid rgba(0,0,0,0.2);
            border-right: 1px solid rgba(0,0,0,0.2);
            
            height: 72px;
        }
        .tb-col-mat-a {
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 1px solid rgba(0,0,0,0.2);
            height: 100%;
        }
        
        .tb-col-mat-a:last-child {
            border-right: none;
        }