@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    font-size: small;
    background: var(--lx-main-background) !important;
  }

main{
    width: 100%;
    height: 100vh;
}
.image-frame{
    position: relative;
    background-color: white;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;

    
}

.image-frame::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    opacity: .3;

    background-image: url("../img/login-bg/bg-institucion.png");
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.bluebar{
    z-index: 2;
    width: 8%;
    height: 100vh;
    background-color: #0554F2;
}

.content-wrap{
    z-index: 2;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255,255,255,1) 15%, rgba(255,255,255,0) 40%);
}
.info-group{
    display: flex;
    flex-direction: row;

    width: 1300px;
    justify-content: space-between;
}

.texto-bienvenida{
    display: flex;
    flex-direction: column;
    align-items: left;
}
.title-frame{
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
}

.title-frame h2{
    margin: 0;
    width: 420px;
    font-size: 36px;
    font-weight: 500;
    color: #0554F2;
    line-height: 120%;
}
.title-frame h2 span{

    color:#F24405;
}

.text-content{
    width: 490px;
}

.text-content p{
    padding-top: 50px;
    color: #5F5F5F;
    font-size: 20px;
    font-weight: 500;
    line-height: 190%;
}

.video-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0554F2;
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
}
.video-btn a{
    text-decoration: none;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.play-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 280px;
    height: 88px;
    border-radius: 50px;
    background-color: #F24405;
    color: #fff;
    cursor: pointer;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
}
.play-btn:hover{

    background-color: #F26A24;

    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.25);
}
.play-btn img{
    width: 58px;
    height: 58px;
    padding-right: 12px;
}
.play-btn h4{
    font-size: 22px;
    font-weight: 400;
}

.login-col{

}

.logo-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.logo-institucion{
    width: 216px;
}
.logo-lexium{
    width: 240px;
}

.login-frame{
    width: 598px;
    height: 564px;
    border-radius: 15px;


    display: flex;
    flex-direction: column;
    align-items: center;


    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.25);

    backdrop-filter: blur(16px) saturate(200%);
    -webkit-backdrop-filter: blur(16px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

}

.login-saludo{
    display: flex;
    flex-direction: row;
    padding: 30px 0 60px;
}
.icon-dots{

}
.icon-dots img{
    padding-top: 28px;
    padding-right: 13px;
}

.saludo-hola{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.saludo-hola h2{
    font-weight: 500;
    padding: 0;
    margin: 0;
    font-size: 55px;
    color: #F24405;
}
.saludo-hola h3{
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-size: 28px;
    color: #0554F2;
}

.login-form{
    width: 500px;
    padding-bottom: 36px;
}
.login-form form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.input-un input{
    width: 300px;
    padding: .375rem .75rem;
    margin: 10px 0 ;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-pw{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input-pw input{
    width: 250px;
    padding: .375rem .75rem;
    margin: 10px 0 ;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem 0 0 .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.eye-pw{
    width: 50px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b8b8b8;
    border-radius: 0 .25rem .25rem 0;
}

.eye-pw img{
    width: 25px;
    filter: brightness();
}
.btn-inicio{
    background-color: #0554F2;
    color: #fff;
    font-size: 24px;
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 8px ;
    cursor: pointer;
}
.btn-inicio:hover{
    background-color: #033593;
}
.form-alerts{
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    
    border-radius: 8px;
    background-color: #FFD2B3;
}
.form-alerts img{
    padding-right: 15px;
}
.form-actions{

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: medium;
}
.form-actions a{
  text-decoration: none;
  color: #495057;
}
.form-actions a:hover{
  text-decoration:underline;

}
.footer{
    width: 100%;
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-content{
    font-size: 13px;
    font-weight: 500;
    width: 1300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.footer-content a{
    text-decoration: none;
    color: #495057;
}

.rrss-icons{
    width: 150px;
    height: fit-content;

    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content: space-between;
}

.rrss-icons img{
    width: 25px;
    filter: brightness(.3);
}


/*-----------MEDIA QUERIES-----------*/


/* Media Query for Tablets (width between 768px and 1024px) */
@media (max-width: 1366px) and (min-width: 768px) {
    .bluebar{
        width: 7%;
    }
    .content-wrap{
        width: 93%;
    }
    .info-group{
        
        width: 100%;
        height: 100vh;
        justify-content: space-around;
        align-items: center;
    }
    .texto-bienvenida{
        
    }
    .title-frame{
        
        width: 340px;
    }
    .title-frame h2{
        font-size: 28px;
    }

    .text-content{
        width: 360px;
    }
    .text-content p{
        padding-top: 10px;
        font-size: 16px;
    }

    .video-btn{
        font-size: 18px;
        line-height: 100%;
    }
    .play-btn{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 200px;
        height: 60px;
        border-radius: 50px;
        background-color: #F78F20;
        color: #fff;
        cursor: pointer;
        -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
    }

    .play-btn img{
        width: 40px;
        height: 40px;
        padding-right: 12px;
    }
    .play-btn h4{
        font-size: 16px;
        font-weight: 400;
    }
    .login-col{
        
    }
    .logo-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;
    }
    
    .logo-institucion{
        width: 180px;
    }
    .logo-lexium{
        width: 180px;
    }
    
    .login-frame{
        width: 475px;
        height: 460px; 
    }
    
    .login-saludo{
        display: flex;
        flex-direction: row;
        padding: 30px 0 35px;
    }
    .login-form{
        width: 100%;
        padding-bottom: 12px;
    }
    .icon-dots{
    
    }
    .icon-dots img{
        padding-top: 18px;
        padding-right: 13px;
    }
    
    .saludo-hola{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .saludo-hola h2{
        font-weight: 500;
        padding: 0;
        margin: 0;
        font-size: 42px;
        color: #F78F20;
    }
    .saludo-hola h3{
        font-weight: 400;
        padding: 0;
        margin: 0;
        font-size: 24px;
        color: #2C318D;
    }
    .input-un input{
        width: 250px;
        padding: .2rem .75rem;
        margin: 10px 0 ;
        font-size: 1.2rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    
    .input-pw{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .input-pw input{
        width: 214px;
        padding: .2rem .75rem;
        margin: 10px 0 ;
        font-size: 1.2rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem 0 0 .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    
    .eye-pw{
        width: 36px;
        height: 36px;
    }
    
    .eye-pw img{
        width: 25px;
        filter: brightness();
    }
    .btn-inicio{
        font-size: 16px;
        padding: 10px 15px;
    }
    .form-actions{
        font-size: 14px;
    }
    .footer{
        padding-top: 5px;
    }
    .footer-content{

        width: 80%;

    
    }
  }
  
 /* Media Query for Mobile Phones (width below 768px) */
@media (max-width: 767px) {

    .bluebar{
        display: none;
    }
    .image-frame{
        width: 100%;
        height: 900px;
        align-items: center;
        justify-content: center;
    }
    .image-frame::before{
        height: 900px;
        background-position:top;
        background-repeat: no-repeat;
        background-size:cover;
    }
    .content-wrap{
 
        height: fit-content;
        background: linear-gradient(90deg, rgba(255,255,255,0) 15%, rgba(255,255,255,0) 40%);
    }
    .info-group{
        width: 100%;
        justify-content: center;
    }
    .texto-bienvenida{
        display: none;
    }
    .login-col{
        
    }
    .logo-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;
    }
    
    .logo-institucion{
        width: 180px;
    }
    .logo-lexium{
        width: 180px;
    }
    
    .login-frame{
        width: 475px;
        height: 460px; 
    }
    
    .login-saludo{
        display: flex;
        flex-direction: row;
        padding: 30px 0 35px;
    }
    .login-form{
        width: 100%;
        padding-bottom: 12px;
    }
    .icon-dots{
    
    }
    .icon-dots img{
        padding-top: 18px;
        padding-right: 13px;
    }
    
    .saludo-hola{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .saludo-hola h2{
        font-weight: 500;
        padding: 0;
        margin: 0;
        font-size: 42px;
        color: #F78F20;
    }
    .saludo-hola h3{
        font-weight: 400;
        padding: 0;
        margin: 0;
        font-size: 24px;
        color: #2C318D;
    }
    .input-un input{
        width: 250px;
        padding: .2rem .75rem;
        margin: 10px 0 ;
        font-size: 1.2rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    
    .input-pw{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .input-pw input{
        width: 214px;
        padding: .2rem .75rem;
        margin: 10px 0 ;
        font-size: 1.2rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem 0 0 .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    
    .eye-pw{
        width: 36px;
        height: 36px;
    }
    
    .eye-pw img{
        width: 25px;
        filter: brightness();
    }
    .btn-inicio{
        font-size: 16px;
        padding: 10px 15px;
    }
    .form-actions{
        font-size: 14px;
    }
    .footer-content{
        flex-direction: column;
    }
  }
  