/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */




/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.lx-db-frame {
  padding: 15px 0px;
  color: var(--lx-widget-title-bluegray);
  width: 1167px;
  
}





.main-seleccion-tablero{
  display: flex;
  padding: 0px 397px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}


.sel-tablero{
  user-select: none;
  margin: 15px 0;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid var(--lx-blue-third, #5B6B96);
  
}
.radio__input{
  display: none;
}
.radio__label{
  padding: 6px 25px;
  display: flex;
  flex-direction: row;
  width:max-content;
  color: var(--lx-blue-third, #5B6B96);
  background: #FFF;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  cursor: pointer;
}

.radio__label:not(:last-of-type){
  border-right: 1px solid var(--lx-blue-third, #5B6B96);
}

.radio__input:checked + .radio__label{
  background: var(--lx-blue-third, #5B6B96);
  color: var(--lx_grey-main);
}



/* AREA DASHBOARDS */

.main-dashboard-area{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 740px;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

/* ESTRUCTURA TABLEROS */
.tablero-container {
  opacity: 0;
  pointer-events: none; /* Disable interaction for non-visible elements */
  position: absolute; /* Keep them stacked in the same position */
  top: 0;
  left: 0;
  width: 100%; /* Adjust as per your layout */
  transition: opacity 0.7s ease; /* Smooth fade transition */
}
.tablero-container.active {
  opacity: 1;
  pointer-events: all; /* Enable interaction for the visible element */
  position: relative;
}
.hidden {
  opacity: 0; /* For fade-out animation */
}
.tablero-container-h{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}


/* ESTRUCTURA WIDGETS */
.widget-row{
  display: flex;
  padding: 8px 30px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 13px;
  align-self: stretch;
  flex-wrap: wrap;
}
.widget-col{
  display: flex;
  flex-direction: column;
  padding: 8px 8px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 13px;
  align-self: stretch;
  flex-wrap: wrap;
}
.widget-body{
  display: flex;
  width: 350px;
  padding: 5px;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  border-radius: 8px;
  background: var(--lx-gray-widget);
}
.widget-body-wide{
  display: flex;
  width: 723px;
  padding: 5px;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  border-radius: 8px;
  background: var(--lx-gray-widget);
}
.widget-body-4{
  display: flex;
  width: 723px;
  height: 707px;
  padding: 5px;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  border-radius: 8px;
  background: var(--lx-gray-widget);
}
.widget-body-full{
  display: flex;
  width: 100%;
  height: 714px;
  padding: 5px;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  border-radius: 8px;
  background: var(--lx-gray-widget);
}
.widget-body:hover, .widget-body-wide:hover, .widget-body-4:hover, .widget-body-full:hover{
  box-shadow: var(--lx-gray-widget-shadow) 0px 2px 6px 0px;
}
.widget-title{
  display: flex;
  flex-direction: row;
  padding: 11px 6px 0px 6px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.widget-title-text h2{
  user-select: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--lx-widget-title-bluegray);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}
.widget-context-menu-icon{
  display: flex;
  padding: 4px 4px;
  justify-content: right;
  gap: 10px;
  border-radius: 20px;
}
.cm-icon {
  fill:var(--lx-widget-title-bluegray);
}
.widget-context-menu-icon:hover{
  background: var(--lx-widget-title-bluegray);
  cursor: pointer;
}
.widget-context-menu-icon:hover > .cm-icon{
  fill:var(--lx_grey-main);
}
.cm-container{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
}
.widget-context-menu-icon:hover > .menu-contextual-container{
  display: block;
}
.menu-contextual-container{
  z-index: 1100;
  display: none;
  margin: 24px -30px 0 0 ;
  position: absolute;
  border-radius: 4px;
  width: 200px;
  background-color: var(--lx-gray-widget);
  padding: 0px 0;
  box-shadow: var(--lx-gray-widget-shadow) 0px 2px 4px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.menu-contextual{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
.menu-contextual li{
  user-select: none;
  text-align: center;
  width: 100%;
  list-style: none;
  padding: 5px 0;
  text-transform: capitalize;
}
.menu-contextual li:hover{
  background: var(--lx-gray-widget-contextmenu-hover) ;
  color: var(--lx_grey-main);
  cursor: pointer;
}

.menu-contextual li a{
  color: var(--lx-widget-title-bluegray);
  text-decoration: none;
}

/* CONTENIDO WIDGETS */

.widget-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 290px;
  align-self: stretch;
  border-radius: 4px;
  background: #F4F4F4;
}
.widget-content-full{
  height: 100%;
  align-self: stretch;
  border-radius: 4px;
  background: #F4F4F4;
}

/* CONTENIDO WIDGET WEBINARS */

.w-webinars-container{
  width: 100%;
  height: 288px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.webinars-row{
  user-select: none;
  width: 344px;
  height: 68px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.webinar-title{
  width: 147px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background: var(--lx-blue-table-main);
  
}

.webinar-title h4{
  padding-left: 8px;
}
.webinar-date{
  width: 109px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background: var(--lx-blue-table-main);
}
.webinar-date p{
  padding: 0;
  margin: -1px;
}

.wb-date, .wb-hour{
  font-weight: bold;
}
.wb-title, .wb-note{
  text-transform: capitalize;
}
.webinar-btn-calendar, .webinar-btn-link{
  width: 39px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 2px;
  background: var(--lx-blue-table-btn);
  cursor: pointer;
}
.webinar-btn-calendar:hover, .webinar-btn-link:hover{
  background: var(--lx-main-background);
  cursor: pointer;
}
.webinar-btn-calendar:active, .webinar-btn-link:active{
  background: var(--lx-blue-table-btn-active);
  cursor: pointer;
}

.btn-green{
  background-color: var(--lx-green-table-btn);
}
.btn-green:hover{
  background-color: var(--lx-green-table-btn-hover);
}
.btn-green:active{
  background-color: var(--lx-green-table-btn-active);
}




/* CONTENIDO WIDGET CREDITOS GLOBAL */

.w-creditos-g-container{
  user-select: none;
  width: 100%;
  height: 288px;
  color: #3F3F3F;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.cred-g-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.tab-h{
  height: 44px ;
}
.tab-c{
  height:115px ;
}
.h-cell, .c-cell{
  width: 112px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.cell-g{
 background-color: #A4E3B6; 
}

.cell-r{
 background-color: #F2B3B3; 
}
.cell-o{
 background-color: #FACE8C; 
}
.cell-b{
 background-color: #DBE3F8; 
}

.cell-b p{
  font-size: 25px;
}


/* CONTENIDO WIDGET ACTIVIDAD DE USUARIOS DE CONSULTA */

.w-actuser-container{
  user-select: none;
  width: 100%;
  height: 288px;
  color: #3F3F3F;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}
.actuser-gpo{
  width: 100%;

}
.actuser-row{
  margin-bottom: 4px;
  width: 100%;
  height: 31px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 
}

.au-cell{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}
.au-cell-b{
  background-color: #DBE3F8; 
 }
.au-col-a{
  width: 248px;
}
.au-col-b{
  width: 94px;
}

/* WIDGET DETALLE DE CREDITOS */

.w-credetalle-container{
  
  width: 100%;
  height: 288px;
  background-color: ;
}

.crd-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 682px;
  height: 44px;
  margin: 2px 2px ;
  border-radius: 2px;
  background-color: var(--lx-tb-header-orange1);
}
.crd-h-control{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
}

.select-gpo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
  
}

.sel-da{
  user-select: none;
  margin: 0px 0;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--lx-blue-third, #5B6B96);
  
}
.radio__input_da{
  display: none;
}
.radio__label_da{
  padding: 6px 25px;
  display: flex;
  flex-direction: row;
  width:max-content;
  color: var(--lx-blue-third, #5B6B96);
  background: #FFF;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  cursor: pointer;
}
.radio__label_da:not(:last-of-type){
  border-right: 1px solid var(--lx-blue-third, #5B6B96);
}

.radio__input_da:checked + .radio__label_da{
  background: var(--lx-blue-third, #5B6B96);
  color: var(--lx_grey-main);
}

.crd-tb-tags>.crd-tb-cell:not(:first-child){
  background-color: var(--lx-tb-header-orange2);
  font-weight: 500;
}
.crd-row, .crd-tb-tags {
  display: flex;
  flex-direction: row;
}
.crd-row-tags {
  display: flex;
  flex-direction: row;
}
.row-fw{
  font-weight: 500;
}
.crd-row-tags> .c-3 {
  background-color: var(--lx-tb-blue2);
}

.crd-row:nth-of-type(odd)>.crd-tb-cell{
  background-color: var(--lx-tb-blue1);
}
.crd-row:nth-of-type(even)>.crd-tb-cell{
  background-color: var(--lx-tb-blue2);
}
.c-1{
  width: 314px;
  padding: 0 10px;
}

.c-1 p{
  max-width: 41ch;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis ;
  font-weight: 500;
}
.c-0{
  width: 170px;
  align-items: center;
}
.c-2{
  width: 192px;
  align-items: center;
}

.bg-0{
  background: none !important;
}
.c-3{
  width: 94px;
  align-items: center;
}
.crd-tb-cell{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2px 2px;
  height: 30px;
  border-radius: 2px;

}

/* WIDGET AVANCE DE EVALUACIONES */

.w-aev-container{
  width: 100%;
  height: 288px;

}

.aev-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 682px;
  height: 44px;
  margin: 2px 2px ;
  border-radius: 2px;
  background-color: var(--lx-tb-header-orange1);
}
.aev-h-control{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
}


.radio__input_da{
  display: none;
}
.radio__label_da{
  padding: 6px 25px;
  display: flex;
  flex-direction: row;
  width:max-content;
  color: var(--lx-blue-third, #5B6B96);
  background: #FFF;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  cursor: pointer;
}
.radio__label_da:not(:last-of-type){
  border-right: 1px solid var(--lx-blue-third, #5B6B96);
}

.radio__input_da:checked + .radio__label_da{
  background: var(--lx-blue-third, #5B6B96);
  color: var(--lx_grey-main);
}

.ave-row-tags>.ave-tb-cell{
  background-color: var(--lx-tb-blue2);
  font-weight: 500;
}
.ave-row, .ave-tb-tags {
  display: flex;
  flex-direction: row;
}
.ave-row-tags {
  display: flex;
  flex-direction: row;
}

.ave-row-tags> .c-3 {
  background-color: var(--lx-tb-blue2);
}

.ave-row:nth-of-type(odd)>.ave-tb-cell{
  background-color: var(--lx-tb-blue1);
}
.ave-row:nth-of-type(even)>.ave-tb-cell{
  background-color: var(--lx-tb-blue2);
}
.a-1{
  width: 182px;
  padding: 0 10px;
}

.a-1 p{
  max-width: 41ch;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis ;
  font-weight: 500;
}
.a-0{
  width: 170px;
  align-items: center;
}
.a-2{
  width: 85px;
  align-items: center;
}


.a-3{
  width: 298px;
  align-items: center;
}
.ave-tb-cell{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2px 2px;
  height: 30px;
  border-radius: 2px;
}
.ave-tb-subcell{
  padding: 0 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}
.ave-tb-subcell p{
  margin: 0;
}
/* Ensure the container is relative so the progress bar is properly positioned */
.gpo-subcell {
  width: 208px;
  height: 24px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  position: relative; 
  z-index: 2; 
}
.subcell-1{
  padding: 0 12px;
  width: 87px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3; 
  position: relative; 
  margin: 0;
  text-align: center;
}
/* Progress Bar Container - will be positioned behind the content */
.progress-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 3px;
  width: 100%; 
  height: 100%; 
  padding: 0 2px;
  background-color: white; 
  border-radius: 3px;
  z-index: 1; 
  overflow: hidden;
}

/* The progress bar itself */
.progress-bar {
  background-color: #9BD9AD; 
  height: 20px;
  width: 0%; /* PROPIEDAD ACTUALIZADA DINAMICAMENTE */
  border-radius: 1px;
  z-index: 0;
}
/* CONTENIDO WIDGET MATERIAL DE APOYO */
.w-matapoyo-container{
  user-select: none;
  width: 100%;
  height: 288px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.w-matapoyo-container a{
  text-decoration: none;
}
.btn-w1{
  width: 342px;
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: var(--lx-widget-btn1);
}
.btn-w1-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn-w1 img{
  height: 25px;
  filter: invert(100%);
  padding-right: 15px;
}
.btn-w1 p{
  width: 190px;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.btn-w1:hover{
  background-color: var(--lx-widget-btn1-hover);
}



/* CONTENIDO WIDGET ACCESOS DIRECTOS */
.w-accdir-container{
  user-select: none;
  width: 100%;
  height: 288px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.w-accdir-container a{
  text-decoration: none;
}

.btn-w2{
  width: 342px;
  height: 91px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: var(--lx-widget-btn1);
}
.btn-w2-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn-w2 img{
  height: 40px;
  padding-right: 15px;
}
.btn-w2 p{
  width: 190px;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.btn-w2:hover{
  background-color: var(--lx-widget-btn1-hover);
}

/* CONTENIDO WIDGET HERRAMIENTA DEL MES */
.w-hm-container{
  user-select: none;
  width: 100%;
  height: 288px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--lx-gray-text-main);
}

.w-hm-container a{
  text-decoration: none;
}

.titulo-hm p{
  font-size: 20px;
  font-weight: 500;
  margin: 15px;
}
.btn-w3{
  width: 342px;
  height: 75px;
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: var(--lx-widget-btn1);
}

.btn-w3 p{
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.btn-w3:hover{
  background-color: var(--lx-widget-btn1-hover);
}

.contacto-hm{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contacto-hm p{
  width: 150px;
  font-size: 14px;
  font-weight: bold;
}

.btn-contacto-hm {
  width: 65px;
  height: 55px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: var(--lx-widget-btn1);
}
.btn-contacto-hm:hover {
  background-color: var(--lx-widget-btn1-hover);
}
.btn-contacto-hm img{
  height: 32px;
}
/* CONTENIDO WIDGET GRAFICO CAMPANA */
.w-grafico-container{
  user-select: none;
  width: 100%;
  height: 288px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--lx-gray-text-main);
}
.graf-control{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: red;
}
.graf-visual{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

