:root {
    --lx-tb-header-orange1: #F2C37B;
    --lx-tb-header-orange2: #FACE8C;
    --lx-tb-blue1: #DBE3F8;
    --lx-tb-blue2: #C2D0F4;
}


/* WIDGET DETALLE DE CREDITOS */

.w-credetalle-container{
    width: 100%;
    height: 288px;
    background-color: ;
}

.crd-header{
    width: 662px;
    height: 44px;
    margin: 2px 2px ;
    border-radius: 2px;
    background-color: var(--lx-tb-header-orange1);
}
.crd-tb-tags>.crd-tb-cell:not(:first-child){
    background-color: var(--lx-tb-header-orange2);
    font-weight: 500;
}
.crd-row, .crd-tb-tags {
    display: flex;
    flex-direction: row;
}

.crd-row:nth-of-type(odd)>.crd-tb-cell{
    background-color: var(--lx-tb-blue1);
}
.crd-row:nth-of-type(even)>.crd-tb-cell{
    background-color: var(--lx-tb-blue2);
}
.c-1{
    width: 294px;
    
    padding: 0 10px;


}

.c-1 p{
    max-width: 41ch;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis ;
    font-weight: 500;
}
.c-0{
    width: 170px;
    align-items: center;
}
.crd-tb-cell{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2px 2px;
    height: 30px;
    border-radius: 2px;

}
